<div class="container-fluid">

  <div *ngIf="refresh" class="row mt-2">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="getHtmlCode()">Recarregar</button>
    </div>
  </div>

  <div *ngIf="!refresh" class="row mt-2">

    <div class="col-lg-4 col-sm-12">

      <div class="row">
        <div class="col">
          <h1>Estatísticas</h1>
        </div>
      </div>

      <div *ngIf="ranking[0]" class="row">
        <div class="col">
          <span class="font-weight-bold">Top Level</span>
          <p>
            <img [src]="ranking[0].rank">
            | {{ ranking[0].nome }}
            | {{ classes[ranking[0].classe.num] }}
            | {{ ranking[0].tempoOn }}h
            | {{ ranking[0].level }}
          </p>
        </div>
      </div>

      <div *ngIf="maiorTempo" class="row">
        <div class="col">
          <span class="font-weight-bold">Mais horas de jogo</span>
          <p>
            <img *ngIf="maiorTempo.rank.includes('images')" [src]="maiorTempo.rank">
            <span *ngIf="!maiorTempo.rank.includes('images')">{{ maiorTempo.rank }}</span>
            | {{ maiorTempo.nome }}
            | {{ classes[maiorTempo.classe.num] }}
            | {{ maiorTempo.tempoOn }}h
            | {{ maiorTempo.level }}
          </p>
        </div>
      </div>

      <div *ngIf="menorTempo" class="row">
        <div class="col">
          <span class="font-weight-bold">Menos horas de jogo</span>
          <p>
            <img *ngIf="menorTempo.rank.includes('images')" [src]="menorTempo.rank">
            <span *ngIf="!menorTempo.rank.includes('images')">{{ menorTempo.rank }}</span>
            | {{ menorTempo.nome }}
            | {{ classes[menorTempo.classe.num] }}
            | {{ menorTempo.tempoOn }}h
            | {{ menorTempo.level }}
          </p>
        </div>
      </div>

      <div *ngIf="qtdeClasses" class="row">
        <div class="col">
          <span class="font-weight-bold">Quantidade de cada classe</span>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Classe</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of qtdeClasses">
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="col-lg-8 col-sm-12">

      <div class="row">
        <div class="col">
          <h1>Rank de Level</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <kendo-grid
          [height]="500"
          [kendoGridBinding]="ranking"
    
          [filterable]="true"
          [sortable]="true">
    
            <kendo-grid-column field="rank" title="Rank" [width]="100">

              <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell
                  [showOperators]="false"
                  [column]="column"
                  [filter]="filter"
                  operator="eq">
                </kendo-grid-string-filter-cell>
              </ng-template>

              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <img *ngIf="dataItem.rank.includes('images')" [src]="dataItem.rank">
                <span *ngIf="!dataItem.rank.includes('images')">{{ dataItem.rank }}</span>
              </ng-template>

            </kendo-grid-column>
    
            <kendo-grid-column field="nome" title="Nome" [width]="150">
              <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell
                  [showOperators]="false"
                  [column]="column"
                  [filter]="filter"
                  operator="contains">
                </kendo-grid-string-filter-cell>
              </ng-template>
            </kendo-grid-column>
    
            <kendo-grid-column field="classe.num" title="Classe" [filterable]="false" [width]="150">
              <ng-template kendoGridCellTemplate let-dataItem>
                <img [src]="dataItem.classe.url1">
                <img class="ml-2" [src]="dataItem.classe.url2">
                {{ classes[dataItem.classe.num] }}
              </ng-template>
            </kendo-grid-column>
    
            <kendo-grid-column field="tempoOn" title="Tempo On (horas)" [width]="150">
              <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell
                  [showOperators]="false"
                  [column]="column"
                  [filter]="filter"
                  operator="eq">
                </kendo-grid-string-filter-cell>
              </ng-template>
            </kendo-grid-column>
    
            <kendo-grid-column field="level" title="Level" [width]="150">
              <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell
                  [showOperators]="false"
                  [column]="column"
                  [filter]="filter"
                  operator="eq">
                </kendo-grid-string-filter-cell>
              </ng-template>
            </kendo-grid-column>
    
          </kendo-grid>
        </div>
      </div>
      
    </div>

  </div>
  
  <router-outlet>
    <ng-template #blockTemplate>
      <div class="block-ui-template">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <block-ui [template]="blockTemplate"></block-ui>
  </router-outlet>

</div>
