<div class="container-fluid" style="margin-bottom: 100px">

  <div *ngIf="refresh" class="row mt-5 mb-5">
    <div class="col">
      <p>Problemas ao carregar os dados, tente novamente!</p>
      <button type="button" class="btn btn-primary" (click)="getHtmlCode()">Recarregar</button>
    </div>
  </div>

  <div *ngIf="!refresh" class="row mt-5">

    <div class="col-lg-4 col-xl-4 col-sm-12">

      <div class="row shadow pt-2 pb-2 bg-white rounded">
        <div class="col">
          <h1 class="fw-300">Estatísticas</h1>
          <p class="fs-10">Dados obtidos através de
            <a href="https://flyff.gpotato.com.br/ranking" target="_blank">https://flyff.gpotato.com.br/ranking</a>
          </p>
        </div>
      </div>

      <app-ranking-player-info *ngIf="ranking[0]" title="Top Level" [player]="ranking[0]"></app-ranking-player-info>

      <app-ranking-player-info *ngIf="maiorTempo" title="Mais horas de jogo" [player]="maiorTempo"></app-ranking-player-info>

      <app-ranking-player-info *ngIf="menorTempo" title="Menos horas de jogo" [player]="menorTempo"></app-ranking-player-info>

      <div *ngIf="qtdeClasses" class="row mt-3 shadow pt-2 pb-2 bg-white rounded">
        <div class="col">
          <span class="fs-20">Quantidade de cada classe</span>

          <kendo-chart class="ml-n3 mr-n3">
            <kendo-chart-series>
              <kendo-chart-series-item
                [autoFit]="true"
                type="donut" [data]="qtdeClasses"
                categoryField="classe"
                field="quantidade">
                <kendo-chart-series-item-labels
                  position="outsideEnd"
                  [content]="labelContent"
                  font="14"
                  color="#333"
                  background="none">
                </kendo-chart-series-item-labels>
              </kendo-chart-series-item>
            </kendo-chart-series>
            <kendo-chart-legend [visible]="false"></kendo-chart-legend>
          </kendo-chart>

        </div>
      </div>

    </div>

    <div class="col-lg-8 col-xl-8 col-sm-12">

      <div class="row pt-2 pb-2 shadow bg-white rounded" [ngClass]="{'ml-0 mr-0': !mobile, 'mt-3': mobile}">
        <div class="col">
          <h1 class="fw-300">Rank de Level</h1>
        </div>
      </div>

      <div class="row mt-3" *ngIf="ranking.length > 0">
        <div class="col" [ngClass]="{'pl-0 pr-0': mobile}">
          <app-ranking-level-table [ranking]="ranking"></app-ranking-level-table>
        </div>
      </div>

    </div>

  </div>

</div>
